@import '../../lib/variables';

.loading {
  cursor: wait;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $loader-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
